@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    @apply scroll-smooth
  }
  body {
    @apply font-dm-sans text-base font-normal text-gray-500 bg-white leading-relaxed p-0 m-0;
  }
  a {
    @apply text-[#666666] hover:text-[#e69339] no-underline outline-none transition-colors;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-jost text-[#1B1B1B];
  }
}

@layer components {
  .header_menu {
    @apply text-base my-0 mx-auto p-0 ;
  }

  .header_menu li {
    @apply relative p-0 list-none;
  }

  /* Shared Styles */
  .header_menu .menu-item-has-children {
    @apply relative
  }

  .submenu-toggle {
    @apply p-2 rounded-md transition-all duration-200 ease-in-out;
  }

  .submenu-toggle:hover {
    @apply bg-[#f3f4f6];
  }

  .submenu-toggle svg {
    @apply block h-4 w-4 transition-all duration-300 ease-in-out;
  }

  /* Header Components */
  #header {
    @apply transition-all duration-500 ease-in-out;
  }
  #header.transparent {
    @apply bg-transparent;
  }
  #header .container {
    @apply transition-all duration-300 ease-in-out;
  }
  .my-sticky-header {
      transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
      background-color: transparent;
  }
  .hide-header {;
      transform: translateY(-110px);
      transition: transform 0.5s ease-in-out;
      background-color: white !important;
  }
  .hide-header .inner-header {
    transform: scale(1.03);
    transition: transform 0.5s ease-in-out;
  }
  .hide-header .logo {
      transform: translateX(-10px);
      transition: transform 0.5s ease-in-out;
  }
  .hide-header .Schedule {
    transform: translateX(10px);
    transition: transform 0.5s ease-in-out;
  }

  /* Button Components */
  .btn-main {
    @apply cursor-pointer inline-flex py-2 px-8 bg-secondary-400 hover:bg-secondary-100 text-white hover:text-secondary-600 font-medium text-base tracking-wider rounded transition-all duration-300 ease-in-out;
  }

  /* Desktop Menu */
  @media (min-width: 1024px) {
    .header_menu > li {
      @apply inline-block mr-6 ;
    }
    .header_menu > li:last-child {
      @apply mr-0;
    }

    .header_menu > li > div {
      @apply relative flex items-center;
    }

    .header_menu > li > div > a {
      @apply inline-block items-center pt-0 pr-5 pb-0 pl-0 transition-colors ;
    }

    .header_menu li div a:hover {
      @apply !text-[#e69339];
    }

    /* Desktop Submenu */
    .header_menu .menu-item-has-children:hover .sub-menu {
      @apply opacity-100 visible pointer-events-auto translate-y-0 z-50;
    }
    .header_menu .menu-item-has-children > div > .submenu-toggle {
      @apply absolute right-0 top-1/2 transform -translate-y-1/2 p-0 inline-flex items-center justify-center transition-transform duration-200 ease-in-out;
    }
    .header_menu .menu-item-has-children:hover > div > .submenu-toggle {
      transform: translateY(-50%) rotate(180deg);
    }
    .header_menu .menu-item-has-children:hover .sub-menu {
      @apply opacity-100 visible pointer-events-auto translate-y-0;
    }
    .header_menu .sub-menu {
      @apply absolute top-full left-0 min-w-56 bg-white shadow-lg mt-2 rounded-lg opacity-0 pointer-events-none invisible transform -translate-y-2 transition-all duration-200 ease-in-out z-50 p-2;
    }
    .header_menu .sub-menu a {
      @apply block w-full py-2 px-4 text-sm text-[#1f2937] hover:text-[#e69339] hover:bg-[#f9fafb] transition-colors rounded-md;
    }
    .header_menu .sub-menu a:hover {
      @apply text-[#e69339] bg-[#f9fafb];
    }
    .header_menu .menu-item-has-children > div > .submenu-toggle {
      @apply absolute right-0 top-1/2 transform -translate-y-1/2 p-0 inline-flex items-center justify-center transition-transform;
    }
    .header_menu .menu-item-has-children:hover > div > .submenu-toggle {
      transform: translateY(-50%) rotate(180deg);
    }
    .header_menu .menu-item-has-children:hover .sub-menu {
      @apply opacity-100 visible pointer-events-auto translate-y-0;
    }
  }

  /* Mobile Menu */
  @media (max-width: 1023px) {
    .header_menu > li {
      @apply block w-full border-b border-b-[#f3f4f6];
    }
    
    .header_menu > li:last-child {
      @apply border-b-0;
    }

    .header_menu > li > div > a {
      @apply py-3 px-0 block transition-all;
    }

    .header_menu > li > div > a:hover {
      @apply text-[#e69339];
   }

    .header_menu > li > div {
      @apply flex items-center justify-between ;
    }

    /* Mobile Submenu */
    .header_menu .sub-menu {
      @apply w-full bg-[#f9fafb80] overflow-hidden transition-all;
    }

    .header_menu .sub-menu.show {
      @apply max-h-[500px] py-2 transition-all;
    }

    .header_menu .sub-menu li {
      @apply block w-full;
    }

    .header_menu .sub-menu a {
      @apply block w-full text-[#1f2937] py-3 px-4 text-sm transition-colors;
    }

    .header_menu .sub-menu a:hover {
      @apply !text-[#e69339];
    }
  }
  .amenities svg {
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
  }
  .amenities:hover svg {
    transform: scale(1.2);
  }
  .current-menu-item a {
    @apply !text-[#e69339];
  }
}

@layer utilities {
  #footer_logo img {
    @apply !h-20 !w-auto;
  }
  .swiper-slide {
    transition-timing-function: ease-in-out !important;
  }
  .project-tab li {
    @apply font-medium text-center flex-grow px-5 py-3 transition-all cursor-pointer opacity-60 hover:opacity-100;
  }
  .project-tab li a{
    @apply block text-[#fff] hover:text-white;
  }
  .active-tab {
    @apply bg-[#DD752D] text-white font-medium !opacity-100;
  }
  #filters li a{
    @apply font-medium text-center flex-grow px-5 py-2 transition-all cursor-pointer opacity-60 hover:opacity-100 block;
  }
  #filters li a.selected{
    @apply bg-[#DD752D] text-white font-medium rounded-md !opacity-100;
  }
  form label {
    @apply block text-lg font-normal text-secondary-100;
  }
  form input {
    @apply w-full px-4 py-2 bg-secondary-50/10 border-b border-gray-300/50 rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-500;
  }
  button.jet-form-builder__submit {
    @apply w-full bg-secondary-500 text-white !justify-center font-medium p-3 rounded hover:bg-secondary-400 focus:border-none focus:outline-none ;
  }
  .jet-fb-form-block{
    @apply w-full;
  }
  #home_form form label {
    @apply block text-lg font-normal text-gray-700;
  }
  #home_form form input {
    @apply w-full px-4 py-2 bg-secondary-50 border-b border-gray-300 rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-secondary-500;
  }
}


